$color-green: green;
$color-yellow: rgb(255, 204, 0);
$color-red: red;
$color-white: white;
$color-gray-light: rgb(224, 224, 224);
$color-plum: plum;
$color-blue: rgb(9, 5, 66);
$color-blue-dark: rgb(9, 5, 66);
$boxshadowColor: rgba(0, 0, 0, 0.2);
