@import "../../Scss/Variables/fonts";
@import "../../Scss/Variables/margin-padding";
@import "../../Scss/Variables/colors";

.popUp-module {
  border: solid black 2px;
  height: auto;
  max-width: 50rem;
  background-color: $white;
  padding: 2rem;
  font-family: $primary-font-family;

  #pizza-title {
    color: $dark-green;
    font-size: 30px;
    margin-bottom: 0.3rem;
  }

  #ingredient-heading {
    font-size: 20px;
    margin-bottom: 0.3rem;
  }

  .ingredient-list {
    list-style: none;
    margin-bottom: $first-margin;
  }

  .pizza-size-box {
    border: solid black 2px;
    height: auto;
    margin-bottom: $first-margin;
    padding: $first-padding;

    #size-heading {
      font-size: 20px;
      margin-bottom: 0.2rem;
    }
    input {
      margin-bottom: 0rem;
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }
    label {
      margin-right: 1rem;
      font-size: 20px;
    }
  }

  .extra-ingredients-box {
    border: solid black 2px;
    height: auto;
    margin-bottom: $first-margin;
    display: flex;
    flex-direction: column;
    padding: $first-padding;

    #extraIngr-heading {
      font-size: 20px;
    }

    .ingredient-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px; /* Justera efter behov */

      input {
        margin-left: 0.3rem;
        margin-top: 0.5rem;
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
      }
      label {
        font-size: 20px;
        margin-right: 1rem;
      }
    }
  }

  .order-info-box {
    border: solid black 2px;
    height: auto;
    padding: $first-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .quantity-price-box {
      display: flex;
      margin-right: 1rem;

      #quantity {
        margin-right: 1rem;
        font-size: 20px;
        width: 5rem;
        height: auto;
        margin-right: 1rem;
      }

      p {
        font-size: 30px;
        margin-right: 0.5rem;
      }
    }

    .submit-abort-box {
      .add-btn {
        margin-left: 1rem;
        border: 1px solid black;
        background-color: $green;
      }

      .abort-btn {
        background-color: $dark-pink;
        border: 1px solid black;
        margin-left: 2rem;
      }
    }
  }
}
